body { margin: 0;
     overflow: hidden;
      background:white;
       display: flex; 
       justify-content: center;
        align-items: center;
         height: 100vh; }
canvas { 
    border: 1px solid #333; 
    max-width: 100%; 
    max-height: 100%; 
   /* transform: scaleX(-1);*/
}
